.main-content-box {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.main-content-box > * {
    max-width: 800px;
    min-width: 250px;
    flex-shrink: 1;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid;
    border-color:hsl(40, 50%, 70%);
}

th {
    height: 50px;
    background-color:hsl(40, 50%, 70%);
    color:hsl(160, 30%, 15%);
}
