body {
    background-color: hsl(160, 30%, 15%);
    font-family:Arial, Helvetica, sans-serif;
    color: hsl(170, 75%, 80%);
    box-sizing: border-box;
    margin: 0px;
}

.main-container {
    margin-top: 45px;
}

/* Navbar styles */

.navbar {
    overflow: hidden;
    background-color:hsl(40, 50%, 70%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    left: 0;
}

.navbar a {
    color:hsl(160, 30%, 15%);
    float: left;
    display: block;
    text-align: center;
    padding: 6px 12px;
    margin: 3px;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid hsl(160, 30%, 15%);
    border-radius: 8px;
    box-shadow: 1px 1px hsl(158, 29%, 5%)
}

.navbar a:hover {
    background-color:hsl(160, 30%, 15%);
    color:hsl(170, 75%, 80%);
}

.navbar a:active {
    background-color:hsl(160, 30%, 25%);
    box-shadow: none;
}

/* Text styles */

.code {
    color: hsl(65, 75%, 80%);
    font-family:'Courier New', Courier, monospace;
}


h1 {
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color:hsl(170, 75%, 80%);
}

footer {
    text-align: center;
}
